<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ep_project</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup_servlet</display-name>
    <servlet-name>Signup_servlet</servlet-name>
    <servlet-class>p1.Signup_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup_servlet</servlet-name>
    <url-pattern>/Signup_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>p1.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_servlet</display-name>
    <servlet-name>Logout_servlet</servlet-name>
    <servlet-class>p1.Logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_servlet</servlet-name>
    <url-pattern>/Logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentregister</display-name>
    <servlet-name>studentregister</servlet-name>
    <servlet-class>p1.studentregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentregister</servlet-name>
    <url-pattern>/studentregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>p1.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mentorregister</display-name>
    <servlet-name>mentorregister</servlet-name>
    <servlet-class>p1.mentorregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mentorregister</servlet-name>
    <url-pattern>/mentorregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ai_servlet</display-name>
    <servlet-name>ai_servlet</servlet-name>
    <servlet-class>p1.ai_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ai_servlet</servlet-name>
    <url-pattern>/ai_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_servlet</display-name>
    <servlet-name>ds_servlet</servlet-name>
    <servlet-class>p1.ds_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_servlet</servlet-name>
    <url-pattern>/ds_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bc_servlet</display-name>
    <servlet-name>bc_servlet</servlet-name>
    <servlet-class>p1.bc_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bc_servlet</servlet-name>
    <url-pattern>/bc_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cs_servlet</display-name>
    <servlet-name>cs_servlet</servlet-name>
    <servlet-class>p1.cs_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs_servlet</servlet-name>
    <url-pattern>/cs_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ml_servlet</display-name>
    <servlet-name>ml_servlet</servlet-name>
    <servlet-class>p1.ml_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ml_servlet</servlet-name>
    <url-pattern>/ml_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unenroll</display-name>
    <servlet-name>unenroll</servlet-name>
    <servlet-class>p1.unenroll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unenroll</servlet-name>
    <url-pattern>/unenroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>p1.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mentor_login</display-name>
    <servlet-name>Mentor_login</servlet-name>
    <servlet-class>p1.Mentor_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mentor_login</servlet-name>
    <url-pattern>/Mentor_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studprofile1</display-name>
    <servlet-name>studprofile1</servlet-name>
    <servlet-class>p1.studprofile1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studprofile1</servlet-name>
    <url-pattern>/studprofile1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>askquestion1</display-name>
    <servlet-name>askquestion1</servlet-name>
    <servlet-class>p1.askquestion1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askquestion1</servlet-name>
    <url-pattern>/askquestion1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replyques</display-name>
    <servlet-name>replyques</servlet-name>
    <servlet-class>p1.replyques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyques</servlet-name>
    <url-pattern>/replyques</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>askquestion2</display-name>
    <servlet-name>askquestion2</servlet-name>
    <servlet-class>p1.askquestion2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askquestion2</servlet-name>
    <url-pattern>/askquestion2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>askquestion3</display-name>
    <servlet-name>askquestion3</servlet-name>
    <servlet-class>p1.askquestion3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askquestion3</servlet-name>
    <url-pattern>/askquestion3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>askquestion4</display-name>
    <servlet-name>askquestion4</servlet-name>
    <servlet-class>p1.askquestion4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askquestion4</servlet-name>
    <url-pattern>/askquestion4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>askquestion5</display-name>
    <servlet-name>askquestion5</servlet-name>
    <servlet-class>p1.askquestion5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askquestion5</servlet-name>
    <url-pattern>/askquestion5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResourceServlet</display-name>
    <servlet-name>AddResourceServlet</servlet-name>
    <servlet-class>p1.AddResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResourceServlet</servlet-name>
    <url-pattern>/AddResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLecture</display-name>
    <servlet-name>AddLecture</servlet-name>
    <servlet-class>p1.AddLecture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLecture</servlet-name>
    <url-pattern>/AddLecture</url-pattern>
  </servlet-mapping>
</web-app>